In [1]:
%pip install pandas numpy

Requirement already satisfied: pandas in c:\laragon\bin\python\python-3.10\lib\site-packages (2.2.1)
Requirement already satisfied: numpy in c:\laragon\bin\python\python-3.10\lib\site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\laragon\bin\python\python-3.10\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\laragon\bin\python\python-3.10\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\laragon\bin\python\python-3.10\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\laragon\bin\python\python-3.10\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('FirewallRules.xlsx');

In [4]:
df.head()

   No SourceHost   SourceIP DestinationHost DestinationIP Protocol  Port
0   6  IDJKTWR06   10.0.0.6         SERVER1       8.8.8.6      TCP   443
1   7  IDJKTWR07   10.0.0.7         SERVER2       8.8.8.7      UDP    80
2   8  IDJKTWR08   10.0.0.8         SERVER3       8.8.8.8      UDP   514
3   9  IDJKTWR09   10.0.0.9         SERVER4       8.8.8.9      TCP   443
4  10  IDJKTWR10  10.0.0.10         SERVER5      8.8.8.10      TCP   443